*{
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body{
  background:$background;
  background-size:contain;
  margin:0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;

}

[disabled]{
  opacity:0.8;
  cursor:not-allowed;
}
button{border:none}

// 



#ContainerPage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 50vw;
  height: calc(100vh - 2rem);
  margin-top: 1rem;

  border-radius: 0.5rem;
  padding: 1rem;
 
  @media screen and (max-width: 600px) {
      width: 100vw;

  }
  >section,>section>main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:1;
    
    
  }
 
}


#TitleGame{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem 2rem;
  height: 1.5rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: $orange;
  border-bottom: 1px solid #ccc;
  @media screen and (max-width: 600px) {
       font-size: 1.2rem;

  }
}

#Display{
 
  padding: 1rem;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

