#ButtonNewGame {
  background: linear-gradient(180deg, #434854 0%, #9e9e9e 100%);
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  color: $white;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  flex-direction: row-reverse;
  cursor: pointer;
  > svg {
    margin-right: 0.5rem;
    width: 1.5rem;
    fill: $white;
  }
}
